:root {
  --bs-body-bg-color: #F2F1EF;
  --header-height: 80px;

  --bs-roboto: 'Roboto', sans-serif;
  --bs-zilla-slab: 'Zilla Slab', serif;;

  --bs-primary-rgb: 14, 35, 64;
  --bs-primary: #0E2340;
  --bs-primary--75: #585E6C;
  --bs-primary--50: #999DA6;
  --bs-primary--25: #D0CFD2;
  
  --bs-secondary: #DD3944;
  --bs-secondary--75: #E6716E;
  --bs-secondary--50: #EEA7A5;
  --bs-secondary--25: #F8D7D2;
  
  --bs-dark: #101721;
  --bs-dark--75: #565759;
  --bs-dark--50: #9A9A9A;
  --bs-dark--25: #CECFC8;

  --bs-link-color: #2D8EC3;
  --bs-highlight-color: #F7CD22;

  --bs-transition: all 0.3s ease-in-out;

  --nav-items-height: 45px;
  --bs-transparent: transparent;
  --bs-z-index: 10;
  
}